body {
  font-family: Arial, sans-serif;
  background-color: #6e5c62;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#app {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  width: 400px;
}

h1 {
  text-align: center;
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

button {
  margin: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007acc;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

li {
  list-style: none;
  margin-left: 0;
  padding-bottom: 20px;
}

ul {
  padding-left: 0;
  color: white;
  font-size: 18px;
}

.certas {
  color: rgb(123, 253, 123);
  font-weight: bold;
}

.erradas {
  margin-left: 40px;
  color: orange;
  font-weight: bold;
}

.ausentes {
  margin-left: 40px;
  color: rgb(255, 97, 97);
  font-weight: bold;
}

.attempts {
  max-height: 50vh;   /* ajuste como preferir */
  overflow-y: auto;
  margin: 8px 0;
  padding-right: 6px; /* espaço pro scrollbar */
}

ul.attempt-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
